# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import numpy as np
import pandas as pd

In [2]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
df = pd.read_csv('baseball_games.csv')

# Filling NaN values, dropping useless columns, deleting all off-season games for season dataframe
df['attendance'].fillna(df['attendance'].median(), inplace = True)
df = df.drop('Unnamed: 0', 1)
season = df[df['season'] == 'regular season']

C:\Users\Pavel\AppData\Local\Temp\ipykernel_21188\2810533272.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Unnamed: 0', 1)

In [3]:
season.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2428 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2428 non-null   float64
 1   away_team          2428 non-null   object
 2   away_team_errors   2428 non-null   int64
 3   away_team_hits     2428 non-null   int64
 4   away_team_runs     2428 non-null   int64
 5   date               2428 non-null   object
 6   field_type         2428 non-null   object
 7   game_type          2428 non-null   object
 8   home_team          2428 non-null   object
 9   home_team_errors   2428 non-null   int64
 10  home_team_hits     2428 non-null   int64
 11  home_team_runs     2428 non-null   int64
 12  start_time         2428 non-null   object
 13  venue              2428 non-null   object
 14  day_of_week        2428 non-null   object
 15  temperature        2428 non-null   float64
 16  wind_speed         2428 non-null   float64
 17  wind_direction     2428 non-null   object
 18  sky                2428 non-null   object
 19  total_runs         2428 non-null   int64
 20  game_hours_dec     2428 non-null   float64
 21  season             2428 non-null   object
 22  home_team_win      2428 non-null   int64
 23  home_team_loss     2428 non-null   int64
 24  home_team_outcome  2428 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 493.2+ KB

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [4]:
max_attendance = season[season['attendance'] == season['attendance'].max()]
max_attendance

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,0,...,77.0,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [5]:
coldest_game = season[season['temperature'] == season['temperature'].min()]
coldest_game

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [6]:
hottest_game = season[season['temperature'] == season['temperature'].max()]
hottest_game

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [7]:
longest_game = season[season['game_hours_dec'] == season['game_hours_dec'].max()]
longest_game

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,2,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [8]:
shortest_game = season[season['game_hours_dec'] == season['game_hours_dec'].min()]
shortest_game

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [35]:
num_draw_games = season[season['home_team_win'] == season['home_team_loss']]
len(num_draw_games)

1

# 7. Какая игра была последней в сезоне?

In [10]:
latest_games_date = season[season['date'] == season['date'].max()]
latest_game = latest_games_date[latest_games_date['start_time'] == latest_games_date['start_time'].max()]
latest_game

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,1,...,56.0,6.0,out to Leftfield,Unknown,3,3.233333,regular season,0,1,Loss

# 8. У какой игры было минимальное количество зрителей?

In [11]:
min_attendance = df[df['attendance'] == df['attendance'].min()]
min_attendance

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,0,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [12]:
max_wind_games = season[season['wind_speed'] == season['wind_speed'].max()]
max_wind_games

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,0,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,3,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [13]:
max_runs_games = df[df['total_runs'] == df['total_runs'].max()]
max_runs_games

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,1,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [14]:
max_hte_games = df[df['home_team_errors'] == df['home_team_errors'].max()]
max_hte_games

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество хитов?

In [15]:
max_hits_games = df[(df['home_team_hits'] + df['away_team_hits']) == (df['home_team_hits'] + df['away_team_hits']).max()]
max_hits_games

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,2,...,84.0,11.0,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [16]:
team_games = season['home_team'].value_counts() + season['away_team'].value_counts()
team_games

Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                162
Boston Red Sox                   162
Chicago Cubs                     162
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                161
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              162
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    162
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             162
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    162
Toronto Blue Jays                162
Washington Nationals             162
dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [34]:
total_wins = season['home_team'][season['home_team_win'] == 1].value_counts() + season['away_team'][season['home_team_loss'] == 1].value_counts()
total_wins[total_wins == total_wins.max()].index[0]

'Chicago Cubs'

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [33]:
home_team_wins = season['home_team'][season['home_team_win'] == 1].value_counts()
home_team_wins[home_team_wins == home_team_wins.max()].index[0]

'Chicago Cubs'

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [32]:
away_team_wins = season['away_team'][season['home_team_loss'] == 1].value_counts()
away_team_wins[away_team_wins == away_team_wins.max()].index[0]

'St. Louis Cardinals'

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [36]:
total_losses = season['home_team'][season['home_team_win'] == 0].value_counts() + season['away_team'][season['home_team_loss'] == 0].value_counts()
total_losses[total_losses == total_losses.max()].index[0]

'Minnesota Twins'

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [21]:
att_home_win = df[['attendance', 'home_team_win']]
att_away_win = df[['attendance', 'home_team_loss']]


print('home team win: \n', att_home_win.corr())
print(f"\n{'-'*40} \n")
print('away team win: \n', att_away_win.corr())

home team win:
                attendance  home_team_win
attendance       1.000000       0.045612
home_team_win    0.045612       1.000000

----------------------------------------

away team win:
                 attendance  home_team_loss
attendance        1.000000       -0.044758
home_team_loss   -0.044758        1.000000

Since the correlation coefficients are close to zero, there is no dependence of the winnings on the attendance

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [22]:
home_team_losses = df[df['home_team_loss'] == 1]['day_of_week'].value_counts().sort_values(ascending=False)
weekends_losses = (home_team_losses['Sunday'] + home_team_losses['Saturday'])/home_team_losses.sum()

In [23]:
weekends_losses

0.31519861830742657

Weekends accounts for a large number of losses, but not the majority ~ 30%

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [24]:
runs_by_weather_F = df[df['temperature'] < 0]
runs_by_weather_C = df[df['temperature'] < 32] # 32℉ = 0°C

In [25]:
runs_by_weather_F

Empty DataFrame
Columns: [attendance, away_team, away_team_errors, away_team_hits, away_team_runs, date, field_type, game_type, home_team, home_team_errors, home_team_hits, home_team_runs, start_time, venue, day_of_week, temperature, wind_speed, wind_direction, sky, total_runs, game_hours_dec, season, home_team_win, home_team_loss, home_team_outcome]
Index: []

[0 rows x 25 columns]

In [26]:
runs_by_weather_C

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

There is only one game at temperature < 0°C, and none < 0℉.